/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #eee8d8;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Collapsible Navigation Bar */
nav {
    background-color: #d3c4bd;
    position: fixed;
    height: 100%;
    width: 200px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav.collapsed {
    width: 70px;
}

nav .nav-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
}

nav .toggle-btn {
    background: none;
    border: none;
    color: #726258;
    font-size: 24px;
    cursor: pointer;
}

nav .nav-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
    width: fit-content;
}

nav.collapsed .nav-links a {
    display: none;
}

nav.collapsed .profile-icon {
    display: none; 
}

nav.collapsed .nav-links a::before {
    content: attr(data-title);
    text-align: center;
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
}

nav a {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #896771;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #afa09b;
}

nav.collapsed .toggle-btn {
    display: block; 
}

/* Profile Icon Styling */
.profile-icon {
    margin-top: auto;
    padding: 10px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fcf8f5;
    padding: 5px;
}

.profile-icon img:hover {
    background-color: #afa09b;
}

/* Main Content */
.main-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
}

main {
    margin-left: 250px;
    margin-right: 30px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

nav.collapsed + main {
    margin-left: 60px;
}

/* Typography */
h1 {
    color: #896771;
    padding: 20px 0;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    color: #726258;
    margin-top: 40px;
}

/* Book List */
.book-slider {
    display: grid;
    gap: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.book-item {
    width: 200px; /* Set a fixed width */
    max-height: 620px;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.book-item img {
    width: auto;
    max-height: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 10px;
}

.book-details h3 {
    font-size: 1.2em;
    color: #3a332b;
}

.book-details p {
    font-size: 0.9em;
    color: #7f8c8d;
    margin-top: auto;
}

/* Add to Bookshelf Button */
.add-to-bookshelf {
    background-color: transparent;
    color: #896771;
    border: 2px solid #896771;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.add-to-bookshelf:hover {
    background-color: #896771;
    color: white;
    transform: scale(1.05);
}

/* No Recommendations */
.no-recommendations {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    max-height: 150px;
}

/* Bookshelf Page Layout */
.bookshelf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.bookshelf-list .book-item {
    flex: 1 1 calc(30% - 20px);
    max-width: 300px;
}

/* Search Bar */
.search-bar {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #896771;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #726258;
}

/* Genres List (Tags) */
.genres {
    margin-bottom: 40px;
}

.genre-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.genre-tag {
    background-color: #896771;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

.genre-tag:hover {
    background-color: #726258;
}

/* Review List */
.review-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.review-card {
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
    box-sizing: border-box;
}

.review-card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Review Header */
.review-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    color: #34495e;
}

.review-title {
    font-weight: bold;
}

.review-date {
    color: #7f8c8d;
    font-style: italic;
}

/* Review Body */
.review-body {
    margin-top: 15px;
    font-size: 1.2em;
    color: #3a332b;
    line-height: 1.6;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    main {
        margin-left: 60px;
    }

    .review-card {
        max-width: 100%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    .review-card {
        padding: 15px;
    }

    .review-body {
        font-size: 1em;
    }

    .book-item {
        flex: 1 1 calc(50% - 10px);
    }

    .add-to-bookshelf {
        padding: 8px 15px;
        font-size: 12px;
    }
}
